body{
    background-image: linear-gradient(to top,#b0ff00, rgb(167, 226, 189));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header{
    font-family: "PT Sans", sans-serif;
    font-size: 100px;
    color:rgb(48, 48, 48);
}
#invitebutton{
    font-family: "PT Sans", sans-serif;
    font-size: 35px;
    color: rgb(48, 48, 48);
    border-style: solid;
    width: 500px;
    border-color: rgb(238, 238, 238);
    border-radius: 200px;
}
#supportbutton{
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    color: rgb(48, 48, 48);
    border-style: solid;
    width: 500px;
    border-color: rgb(238, 238, 238);
    border-radius: 200px;
}
#warnimg{
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-radius: 10px;
    margin-left: 1000px;
    margin-top: 0px;
}
#warningimg{
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-radius: 10px;
    margin-left: 1000px;
    margin-top: 50px;
}
#mod{
    color:#b0ff00;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    border-style: solid;
    background-color: rgb(58, 58, 58);
    border-color: rgb(46, 46, 46);
    
    font-weight: bold;
    width: 500px;
    position: relative;
    left: 450px;
    top: 70px;
    border-radius: 15px;
    padding: 20px;
}
.modimg{
    width: 500;
    float: left;
    position: relative;
    right: 500px;
    top: 10;
}
.modcontainer{
    display: flex;
    justify-content: space-between;
}
#infoimage{
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 500px;
}
#info{
    color:#b0ff00;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    border-style: solid;
    background-color: rgb(58, 58, 58);
    border-color: rgb(46, 46, 46);
    font-weight: bold;
    width: 500px;
    position: relative;
    left: 0px;
    top: 500px;
    border-radius: 15px;
    padding: 20px;
}
.infoimg{
    width: 500;
    position: relative;
    right: 1550px;
    top: 600;
}
.infocontainer{
    display: flex;
    justify-content: space-between;
}
.infotxt{
    width: 500;
    position: relative;
    right: 1600px;
    top: 600;
}
a:link{
    text-decoration: none;
}
#bottomtext{
    font-family: "PT Sans", sans-serif;
    font-size: 35px;
    color: rgb(48, 48, 48);
    width: 1000;
    position: relative;
    top: 950px;
}
